<div class="col-md-4 team">
<% if team.photo? %>
 <%= image_tag team.photo.url, class: "photo-team"%>
 <% end %>
  <div class="team_information">
  <i class="fa fa-users" aria-hidden="true"></i>
    <%= link_to team.name, team %><br>
    <i class="fa fa-wikipedia-w" aria-hidden="true">
    <%= team.description %></i>
  </div>
</div>

