<div class="col-md-4 pitch">
<% if pitch.image? %>
 <%= image_tag pitch.image.url, class: "image-pitch"%>
 <% end %>
  <div class="pitch_information">
    <%= link_to pitch.name, pitch %><br>
    <%= pitch.description %>
  </div>
</div>
