<h1>this is show page</h1>
  <div class="col-md-2">
  <table  class ="table-child-pitch" style="width:100%">
  <tr>
    <th>Time Name</th>
    <th>Time </th
  </tr>
  <tr>
    <td>Time 1</td>
    <td>6h->8h </td>
  </tr>
  <tr>
    <td>Time 2</td>
    <td>8h->10h </td>
  </tr>
  <tr>
    <td>Time 3</td>
    <td>10h->12h </td>
  </tr>
  <tr>
    <td>Time 4</td>
    <td>12h->14h </td>
  </tr>
  <tr>
    <td>Time 5</td>
    <td>14h->16h </td>
  </tr>
  <tr>
    <td>Time 6</td>
    <td>16h->18h </td>
  </tr>
  <tr>
    <td>Time 7</td>
    <td>18h->20h </td>
  </tr>
  <tr>
    <td>Time 9</td>
    <td>20h->22h </td>
  </tr>
</table>
  </div>
  <div class="col-md-8">col-md-8</div>
  <div class="col-md-2">col-md-2</div>
